body{
    margin: 0;
}
.bloque{
    width: 360px;
    height: 200px;
    background: red;
}
.bloque p:first-child{
    font-size: 30px;
}
p{
    margin: 0;
    color: white;
}
.bloque2{
    width: 200px;
    height: 200px;
    background: black;
}
.bloque2 p:first-child{
    font-size: 30px;
}
.bloque3{
    width: 350px;
    height: 350px;
    background: red;
}
.bloque3 p:first-child{
    font-size: 30px;
}
/* 
me gusta 30 pixeles en este celular

*/