body{
    margin: 0;
    color: white;
    text-align: center;
    background: rgb(138, 2, 2);
}
.bloque{
    width: 360px;
    height: 672px;
    background: red;
}
.bloque p:first-child{
    font-size: 30px;
}
p{
    margin: 0;
    color: white;
}
.bloque2{
    width: 360px;
    height: 100px;
    background: blue;
}
.bloque2 p:first-child{
    font-size: 30px;
}
.bloque3{
    width: 359px;
    height: 100px;
    background: black;
}
.bloque3 p:first-child{
    font-size: 30px;
}
.circle{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
}
.circle2{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: blue;
}
.tweelve{
    font-size: 12px;
}
.fourteen{
    font-size: 14px;
}
.sixteen{
    font-size: 16px;
}
.tweenty-two{
    font-size: 22px;
}
.forty{
    font-size: 40px;
}
.square{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: blue;
}
.square2{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: blue;
}
/* 
me gusta 30 pixeles en este celular
de width es 360 
de height creo que 700 px talvez
*/